<html>
    <head>
        <title>Django Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django веб-сайт блог</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Я лутаю Россию, я летаю красиво.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>CodeWars отличный сайт, чтобы поднять скилл програмирования.</p>
        </div>
    </body>
</html>
