<html>
    <head>
        <title>Django Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django веб-сайт блог</a></h1>
        </div>

        {% for post in posts %}
        <div>
            <h1><a href="">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>

            {% if post.published_date %}
            <p>Опубликовано: {{ post.published_date }}</p>
            {% elif not post.published_date %}
            <p><s>Опубликовано:</s></p>
            {% endif %}
        </div>
        {% endfor %}

    </body>
</html>
